/* ---------------------------------------------------------------------
 VARIABLES
--------------------------------------------------------------------- */

/* ---------------------------------------------------------------------
 FONTS
--------------------------------------------------------------------- */

$FONT_FAMILY_BOLD: 'Roboto Bold', Helvetica, Arial;
$FONT_FAMILY_LIGHT: 'Roboto Light', Helvetica, Arial;
$FONT_FAMILY_MEDIUM: 'Roboto Medium', Helvetica, Arial;
$FONT_FAMILY_REGULAR: 'Roboto Regular', Helvetica, Arial;
$FONT_FAMILY_THIN: 'Roboto Thin', Helvetica, Arial;
